<%- include('../partials/header') %>

<section class="records-create-edit">
    <h2>Edit Record </h2>
    <form action="/user/<%= user._id%>/records/<%= record._id %>?_method=PUT" method="POST">
    
        <!-- It should be the pet which was showing in the page before the edit. Loop only applies to Edit overal pets -->
        <label for="pet">Pet Name</label>
            <select name="pet" default="<%= record.pet._id%>" required>
                <% pets.forEach(p => { %>
                    <option value="<%= p._id %>">Name: <%= p.name%> DOB: <%= p.DOB.toLocaleDateString() %></option>
                    <% }) %>
            </select>
        
        <label for="date">Date</label>
            <input type="datetime-local" name="date" required>
    
        <label for="diagnosis">Diagnosis</label>
            <input type="text" name="diagnosis" value="<%= record.diagnosis %>" required>
    
        <label for="treament">Treament</label>
            <textarea  name="treatment" rows="5" cols="33" required></textarea>
    
        <label for="medication">Medication</label>
            <input type="text" name="medication" value="<%= record.medication %>" required>
    
        <button class='btn-save' type="submit">Update</button>
    </form>
    <a href="/user/<%= user._id %>">Cancel</a>
</section>

<%- include('../partials/footer') %>