<%- include('partials/header') %>

    <table>
        <thead>
            <tr>
                <th>Pet</th>
                <th>Date</th>
                <th>Time</th>
                <th>Diagnosis</th>
                <th>Treatment</th>
                <th>Medication</th>
            </tr>
        </thead>
        <tbody>
            <% records.forEach(r => { %> 
            <tr>
                <td><%= r.pet %></td>
                <td><%= r.date.toLocaleDateString() %></td>
                <td><%= r.date.toLocaleTimeString() %></td>
                <td><%= r.diagnosis %></td>
                <td><%= r.treatment %></td>
                <td><%= r.medication %></td>
            </tr>
            <% }) %>
        </tbody>
    </table>


<%- include('partials/footer') %>