<%- include('../partials/header') %>

<!-- Owner -->
  <% if(user.userType==="Owner" ){ %>

    <!-- Pets Overview -->
    <section class="pet-overview">
      <% if(pets.length){ %>
        <% pets.forEach(p=> { %>
      <div class="card pet-card">
        <div>
          <img class='pet-img' src="/images/pet.jpg" alt="Pet">
          <div class="pet-info">
            <h4><%= p.name %></h4>
            <p><%= p.species %></p>
            <p><%= p.breed %></p>
            <p><%= p.age %> years old</p>
            <!-- TODO: if pet is less than 1yo show months old instead -->
            <p>DOB: <%= p.DOB.toLocaleDateString() %></p>
          </div>
          <a class='card-btn' href="/user/<%= user._id %>/pets/<%= p._id %>">Medical Records</a>
        </div>
        <form action="/user/<%= user._id %>/pets/<%= p._id %>?_method=DELETE" method="POST">
          <button class="card-delete" type="submit"><img src="/images/close.svg" alt="X"></button>
        </form>
        <a class='card-edit' href="/user/<%= user._id %>/pets/<%= p._id %>/edit">Edit</a>
      </div>
      <% }) %>
      <% } else{ %>
        <p>No Pets Yet.</p>
        <% } %>
      <div class="card add-pet">
        <a href="/user/<%= user._id %>/pets/new">Add</a>
      </div>
    </section>

    <!-- Appointments Overview -->
    <section class="apointments card">
    </section>

    <% } %>


<!-- Veterinatian  -->
    <% if(user.userType==="Veterinarian" ) { %>
        <section class="vet-overview">
                        <h3>Your Patients</h3>
                        <% if(vetRecords.length){ %>
                          <% vetRecords.forEach(vr=> { %> <!-- Checks if the vet has an pet medical records -->
                            <div>
                              <form action="/user/<%= user._id %>/records/<%= vr._id %>?_method=DELETE" method="POST">
                                <button type="submit">X</button>
                                <% console.log(vr.pet) %>
                                  <h4>
                                    <%= vr.pet.name %>
                                  </h4>
                                  <p>Species: <%= vr.pet.species %>
                                  </p>
                                  <p>Breed: <%= vr.pet.breed %>
                                  </p>
                                  <p>Age: <%= vr.pet.age %>
                                  </p>
                                  <p>DOB: <%= vr.pet.DOB.toLocaleDateString() %>
                                  </p>
                                  <br />
                                  <a href="/user/<%= user._id %>/records/<%= vr._id %>">DETAILS</a> |
                                  <a href="/user/<%= user._id %>/records/<%= vr._id %>/edit">EDIT</a>
                              </form>
                            </div>
                            <% }) %>
                              <% } else{ %>
                                <p>No Pet Medical Records Yet. <a href="/user/<%= user._id %>/records/new">Create
                                    One</a>
                                </p>
                                <br />
                                <% } %>
        </section>
    <% } %>

<%- include('../partials/footer') %>