<%- include('../partials/header') %>

<h1>Welcome back, <span class="user-name"><%= user.firstName %></span></h1>

<!-- Owner -->
<% if(user.userType==="Owner" ){ %>
  <!-- Pets Overview -->
  <section class="pet-overview">
    <h2>Your Pets</h2>
    <% if(pets.length){ %>
      <% pets.forEach(p=> { %>
        <div class="card pet-card">
          <div>
            <img class='pet-img' src="/images/pet.jpg" alt="Pet">
            <div class="pet-info">
              <h4>
                <%= p.name %>
              </h4>
              <p>
                <%= p.species %>, <%= p.breed %>
              </p>
              <p>
                <%= p.age %> Years old
              </p>
              <p>
                DOB: <%= p.DOB.toLocaleDateString() %>
              </p>
            </div>
            <a class='card-btn' href="/user/<%= user._id %>/pets/<%= p._id %>">Medical Records</a>
          </div>
          <form action="/user/<%= user._id %>/pets/<%= p._id %>?_method=DELETE" method="POST">
            <button class="card-delete" type="submit"><img src="/images/close.svg" alt="X"></button>
          </form>
          <a class='card-edit' href="/user/<%= user._id %>/pets/<%= p._id %>/edit">Edit</a>
        </div>
        <% }) %>
          <% } else{ %>
            <p>No Pets Yet</p>
            <% } %>
              <div class="card add-pet">
                <a href="/user/<%= user._id %>/pets/new">Add</a>
              </div>
  </section>

  <!-- Appointments Overview -->
  <section class="apointments">
    <h2>Calendar</h2>
  </section>

  <% } %>

  
  <% if(user.userType==="Veterinarian" ) { %>
    <h3>Your Patients</h3>
    <div>
      <% if(patients.length){ %>
        <% patients.forEach(p=> { %>
          <div>
            <br />
            <h4>
              <%= p._doc.name %>
            </h4>
            <p>Species: <%= p._doc.species %>
            </p>
            <p>Breed: <%= p._doc.breed %>
            </p>
            <p>Age: <%= p._doc.age %>
            </p>
            <p>DOB: <%= p._doc.DOB.toLocaleDateString() %>
            </p>
            <br />
            <a href="/user/<%= user._id %>/pets/<%= p._doc._id %>">Medical Records</a> |
          </div>
          <% }) %>
            <% } else{ %>
              <p>No Patients Yet. <a href="/user/<%= user._id %>/records/new">Create Medical Record</a></p>
              </p>
  
              <% } %>
                <% } %>
    </div>

<%- include('../partials/footer') %>