<%- include('../partials/header') %>


    <nav class="in-app-nav">
        <a href="/user/<%=user._id%>">Dashboard</a> > <span>Medical Records</span>
    </nav>

    <section class="medical-records ">

        <h2>
            Medical Records for <%= pet.name %>
        </h2>
        <div class="pet-about">
            <h3>About</h3>
            <p>Name: <%= pet.name %>
            </p>
            <p>Species: <%= pet.species %>
            </p>
            <p>Breed: <%= pet.breed %>
            </p>
            <p>Age: <%= pet.age %>
            </p>
            <p>DOB: <%= pet.DOB.toLocaleDateString() %>
            </p>
        </div>

        <h3>Appointment history</h3>
        <% if(records.length){ %>
            <table>
                <thead>
                    <tr>
                        <th class="date">Date</th>
                        <th class="time">Time</th>
                        <th class="diagnosis">Diagnosis</th>
                        <th>Treatment</th>
                        <th class="medication">Medication prescribed</th>
                        <% if(user.userType==="Veterinarian" ){ %>
                            <th class="records-action"></th>
                            <% } %>
                    </tr>
                </thead>

                <% records.forEach(r=> { %>
                    <tbody>
                        <form action="/user/<%= user._id %>/records/<%= r._id %>?_method=DELETE" method="POST">
                            <tr>
                                <td class="date">
                                    <%= r.date.toLocaleDateString() %>
                                </td>
                                <td class="time">
                                    <%= r.date.toLocaleTimeString([], { hour: "2-digit" , minute: "2-digit" }) %>
                                </td>
                                <td class="diagnosis">
                                    <%= r.diagnosis %>
                                </td>
                                <td>
                                    <%= r.treatment %>
                                </td>
                                <td class="medication">
                                    <%= r.medication %>
                                </td>
                                <% if(user.userType==="Veterinarian" ){ %>
                                    <td class="records-action">
                                        <a class='edit' href="/user/<%= user._id %>/records/<%= r._id %>/edit"></a>
                                        <button class='trash' type="submit"></button>
                                    </td>
                                    <% } %>
                            </tr>
                        </form>
                    </tbody>
                    <% }) %>
                </table>
                    <% } else { %>
                        <p class="no-records">No Records Found</p>
                        
                        <% }%>

    </section>
    <%- include('../partials/footer') %>