<%- include('../partials/header') %>

    <table>
        <thead>
            <tr>
                <th></th>
                <th>Date</th>
                <th>Time</th>
                <th></th>
            </tr>
        </thead>
        <% if(user.userType === "Veterinarian"){ %>
        <tbody>
            <% availabilities.forEach(a => { %> 
            <tr>
            <form action="/user/<%= user._id %>/appointments/<%= a._id %>/?_method=DELETE" method="POST">
                <td><button type="submit">X</button></td>
                <td><%= a.date.toLocaleDateString() %></td>
                <td><%= a.date.toLocaleTimeString() %></td>
                <td><a href="/user/<%=user._id %>/appointments/<%=a._id %>/edit">EDIT</a></td>
            </form>
            </tr>
            <% }) %>
            
        </tbody>
        <br/><br/><a href="/user/<%= user._id %>/appointments/new">Add More</a>
        <% } %>
        <% if(user.userType === "Owner"){ %>
            <tbody>
                <% appointments.forEach(a => { %> 
                <tr>
                    <td><%= a.date.toLocaleDateString() %></td>
                    <td><%= a.date.toLocaleTimeString() %></td>
                    <td><a href="/user/<%=user._id %>/appointments/<%=a._id %>/book">BOOK</a></td>
                </tr>
                <% }) %>
            </tbody>
            <% } %>

    </table>


<%- include('../partials/footer') %>