<%- include('../partials/header') %>

    <table>
        <thead>
            <tr>
                <th></th>
                <th>Date</th>
                <th>Time</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% availabilities.forEach(a => { %> 
            <tr>
            <form action="/user/<%= user._id %>/appointments/<%= a._id %>/?_method=DELETE" method="POST">
                <td><button type="submit">X</button></td>
                <td><%= a.date.toLocaleDateString() %></td>
                <td><%= a.date.toLocaleTimeString() %></td>
                <td><a href="/user/<%=user._id %>/appointments/<%=a._id %>/edit">EDIT</a></td>
            </form>
            </tr>
            <% }) %>
            <br/><br/><a href="/user/<%= user._id %>/appointments/new">Add More</a>
        </tbody>
    </table>


<%- include('../partials/footer') %>