<%- include('../partials/header') %>

<section class='book-appointment'>
<h2>Appointment Availability</h2>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th></th>
            </tr>
        </thead>

        <% if(user.userType === "Veterinarian"){ %>
        <tbody>
            <% availabilities.forEach(a => { %> 
                <form action="/user/<%= user._id %>/appointments/<%= a._id %>/?_method=DELETE" method="POST">
                    <tr>
                <td><button type="submit">X</button></td>
                <td><%= a.date.toLocaleDateString() %></td>
                <td><%= a.date.toLocaleTimeString() %></td>
                <td><a href="/user/<%=user._id %>/appointments/<%=a._id %>/edit">EDIT</a></td>
            </tr>
            </form>
            <% }) %>
        </tbody>
        <% } %>

        <% if(user.userType === "Owner"){ %>
            <tbody>
                <% if(appointments.length){ %>
                <% appointments.forEach(a => { %> 
                <tr>
                    <td><%= a.date.toLocaleDateString() %></td>
                    <td><%= a.date.toLocaleTimeString() %></td>
                    <td><a href="/user/<%=user._id %>/appointments/<%=a._id %>/book">Select</a></td>
                </tr>
                <% }) %>
                <% } else{ %>
                    <p>No Available Appointments</p>
                    <% } %>
            </tbody>
            <% } %>
    </table>

    <% if(user.userType === "Veterinarian") { %><br/><a href="/user/<%= user._id %>/appointments/new">Add Availability</a><% } %>
</section>


<%- include('../partials/footer') %>