<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/header') %>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="/auth/signup">Sign Up</a>

    <!-- <p>Welcome to the <%= title %></p> -->
    <a href="/auth/login" class="btn btn-primary">Login</a>
    <footer><%- include('partials/footer') %></footer>
  </body>
</html>
