<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/header') %>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <!-- <p>Welcome to the <%= title %></p> -->
    <footer><%- include('partials/footer') %></footer>
  </body>
</html>
