<!--views/appointments/new.ejs-->
<%- include('../partials/header') %>

<nav class="medical-records-nav">
  <a href="/user/<%=user._id%>">Dashboard</a> > <span>Medical Records</span>
</nav>
<section class="create-av">
  <h2>New Availability</h2>
  <form action="/user/<%=user._id %>/appointments" method="POST">
    <label for="date"
      >Date & Time:
      <input
        type="datetime-local"
        name="date"
        min="<%= today %>"
        required
      /> </label
    ><br /><br />

    <button type="submit">Add Availability</button>
  </form>
  <a href="/user/<%= user._id %>">Cancel</a>
</section>

<%- include('../partials/footer') %>
